:root {
    --font: "Bebas Neue", cursive;
    --dkgreen: #012e40;
    --green: #024959;
    --bege: #f2e3d5;
    --dkbege: #f2e3d5e5;
    }

html {
    box-sizing: border-box;
}
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--green);
    font-family: var(--font);
}

nav {
    height: 100px;
    font-size: 3.2rem;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
    color: var(--bege);
    background-color: var(--dkgreen);
    display: flex;
    align-items: center;
    justify-content: center;
}

#game {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 2rem;
    max-width: 320px;
    justify-content: space-around;
    text-align: center;
}

#guess {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 3rem;
}


.letter-button,
#restart-button {
    font-family: var(--font);
    background-color: var(--bege);
    font-size: 1.1rem;
    padding: 0.5rem 0;
    width: 45px;
    text-align: center;
    border-radius: 7px;
    margin: 2.5px;
}

#restart-button {
    width: 70px;
}

.letter-button:hover,
#restart-button:hover {
    background-color: var(--dkbege);
}

#restart-button {
    visibility: hidden;
}

#info {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#message {
    text-align: center;
}
